<div class="relative min-h-screen">
  <app-header 
    (toggleSidebar)="toggleSidebar()" 
    (openSettings)="openSettings()"
  />
  <app-sidebar 
    [isOpen]="isSidebarOpen()" 
    [activePage]="activePage()"
    (closeSidebar)="closeSidebar()"
    (navigate)="changePage($event)"
  />

  <main id="main-content" class="p-4 pt-24 md:p-8 md:pt-28">
    @switch (activePage()) {
      @case ('imageGenerator') {
        <app-image-generator />
      }
      @case ('videoGenerator') {
        <app-video-generator />
      }
      @case ('musicGenerator') {
        <app-music-generator />
      }
      @case ('gallery') {
        <app-gallery />
      }
      @case ('aiZone') {
        <app-ai-zone />
      }
      @case ('aiChat') {
        <app-ai-chat />
      }
    }
  </main>

  @if (isSettingsOpen()) {
    <app-settings 
      (closeSettings)="closeSettings()"
      (openBetaInfo)="openBetaInfo()"
     />
  }
  @if (isBetaInfoOpen()) {
    <app-beta-info (close)="closeBetaInfo()" />
  }
</div>